{% extends "layout.html" %}
{% block content %}
    <div class="media-body">
        <div class="article-metadata">
            <h1 style="font-size:2vw">Hey you! You're finally awake.</h1>
        </div>
        <p>
            My name is Eryk, nice to meet you at last. This place is where you can get to know me better.<br>
            It has been designed just for this purpose. You can also get my CV <a href="{{ url_for('static', filename='my_cv.pdf') }}" download>here!</a><br>
            <br>
            My interest in coding began with an econometrics class during my senior year of Bachelor's degree in Finance. Since then I have been learning about data science and machine learning. <b>I have two years of professional experience as a Business Intelligence Consultant.</b> It equipped me with a strong SQL knowledge and data visualisation tools like Power BI. I am actively trying to find employment in the three aforementioned fields and connect my passion with professional work.<br>
            <br>
               🌍 I'm based in Switzerland.<br>
               ✉️ You can contact me at <a href="mailto:erykwitkowski2@gmail.com">erykwitkowski2@gmail.com</a><br>
               🧠 I'm learning to become a full stack data scientist.<br>
               🤝 I'm open to collaborating on interesting projects or kaggle competitions!<br>
               ⚡ I speak Polish, English and German.<br>
            <h4 style="font-size:2vw">Skills</h4>
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/python-colored.svg" width="36" height="36" alt="Python" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/git-colored.svg" width="36" height="36" alt="Git" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mysql-colored.svg" width="36" height="36" alt="MySQL" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/postgresql-colored.svg" width="36" height="36" alt="PostgreSQL" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/flask-colored.svg" width="36" height="36" alt="Flask" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/macos-colored.svg" width="36" height="36" alt="MacOS" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/linux-colored.svg" width="36" height="36" alt="Linux" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/docker-colored.svg" width="36" height="36" alt="Docker" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/tensorflow-colored.svg" width="36" height="36" alt="TensorFlow" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/aws-colored.svg" width="36" height="36" alt="Amazon Web Services" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/New_Power_BI_Logo.svg" width="36" height="36" alt="Microsoft Power BI">
            <img src="https://www.svgrepo.com/show/354427/tableau.svg" width="36" height="36" alt="Tableau">
            <br>
            <br>
            <h6 style="font-size:1vw">Besides that, there are a few things I love to do, like <b>snowboarding</b>, <b>powerlifting</b>, <b>cooking</b> and <b>traveling</b>.</h6>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://github.com/7ired/portfolio/blob/main/blog/static/aboutme_pics/snow1.JPG?raw=true", alt="Orelle Val-Thorens" width="300" height="300" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="https://github.com/7ired/portfolio/blob/main/blog/static/aboutme_pics/me.JPG?raw=true", alt="Graduation day" width="300" height="300" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="https://github.com/7ired/portfolio/blob/main/blog/static/aboutme_pics/food1.JPG?raw=true", alt="Chicken udon" width="300" height="300" class="img-fluid">
                </div>
            </div>
             
        </p>
    </div>
{% endblock content %}

