{% extends "layout.html" %}
{% block content %}
    <div class="media-body">
        <div class="article-metadata">
            <h1>Hey you! You're finally awake.</h1>
        </div>
        <p>
            My name is Eryk, nice to meet you at last. I've been willing to talk to you.<br>
            Sit comfortably. Here, take this cup of freshly brewed coffee. Take a sip, there's no rush.<br>
            <br>
            This place is where you can get to know me better. It has been designed just for this purpose.<br>
            Instead of reading my one-pager CV you can look at me and my skills here!<br>
            <br>
            August 2023 I've graduated from Warsaw School of Economics with a Master's degree in Big Data.<br>
            My thesis topic was supporting financial decisions in the stock market using Recurrent Neural Networks and Markov Chains, for which I have gotten the highest possible grade.
            My area of interest is everything data science and machine learning related, as well as a little bit of financial markets and quantitative analysis.<br>
            <br>
            Besides that, there are a few things I love to do!<br>
            <b style="font-size:2vw">Snowboarding</b><br>
            I started skiing when I was about 4 years old. Ten years later I made a transition to snowboarding and I've loved it ever since. I also love mountains and hiking outside of winter season.<br>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='aboutme_pics/' + 'snow1.jpg') }}", alt="Orelle Val-Thorens" width="300" height="300" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='aboutme_pics/' + 'snow2.jpg') }}", alt="Orelle Val-Thorens 2" width="300" height="300" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='aboutme_pics/' + 'snow3.jpg') }}", alt="Solden" width="300" height="300" class="img-fluid">
                </div>
            </div>
            <br>
            <b style="font-size:2vw">Powerlifting</b><br>
            It's a niche sport where the goal is to lift as much weight as possible in 3 lifts - squat, bench press and deadlift.<br>
            I started lifting weights shortly before covid-19 pandemics hit the world. It was supposed to be a therapeutical activity,<br>
            which I ended up enjoying so much, I got into powerlifting. I actively compete in powerlifting competitions. My best lifts are 180 kg squat, 115 kg bench press and 180 kg deadlift.<br> 
            <b style="font-size:2vw">Cooking</b><br>
            Who does not like to eat good food?<br>
            <br>
             
        </p>
    </div>
{% endblock content %}

