{% extends "layout.html" %}
{% block content %}
    <div class="media-body">
        <div class="article-metadata">
            <h1 style="font-size:2vw">Road to Junior Data Scientist at Porsche AG</h1>
        </div>
        <p>
            <b>Why Porsche? What does it mean to me?</b><br><br>
            When I was very young, around 4 or 5 years old I could already tell most of the car makes parked outside.<br><br>
            On the walks with my parents or grandma, I would say it out loud - 'Audi', 'Volvo', 'Opel', 'Seat', and so on.<br><br>
            My older cousin had a computer, and whenever we visited grandma, me, my brother and my cousin would play games. We played a lot of racing games, because they were very simple - just steer left or right and brake. And they had cars, which apparently we all liked. I remember, one day we played a game, where all cars were Porsche. Five year old me fell in love in all of them. It was Need For Speed: Porsche Unleashed (2000). For a long time I continued to play the game, and Porsche cars became a dream. I used to have many Hot Wheels, or small plastic Porsche cars. Up to this day, I collect them sometimes.<br><br>
            <i>But why?</i><br><br>
            I believe that Porsche is no longer just a dream for me anymore. <i>It's the definition of dreaming, the dream itself</i>.
            It's one of my first dreams I can recall, which stayed with me up until now, almost 20 years later.<br><br>
            <h4>One day I sat down and wondered:</h4>
            <b>What does it take to become a Junior Data Scientist at Porsche?</b><br>
            I opened LinkedIn, and there it was.<br><br>
            <img src="{{ url_for('static', filename='blog_pics/' + 'li_header.png') }}" width="500" height="150"><br><br>
            I started reading the job description, and found <b><i>skills associated with the job post</i></b>.<br><br>
            <img src="{{ url_for('static', filename='blog_pics/' + 'li_skills.png') }}" width="500" height="500"><br><br>
            At first I thought <i>well, that's only some LinkedIn indicators, it doesn't matter</i>. But then - <b>what if it does?</b><br>
            I came to a conclusion, that in order to compete with so many great and qualified junior data scientists who strive for the same position,
            I have to check in for all of those points! In the end, you have to make sure, that you've done everything you could.<br>
            I've decided, that to show Porsche Hiring Team, that I'm a competent candidate, worthy of a job interview invitation, <b>I am going to make a project on each of those items.</b><br><br>
            <div class="centered">
                <h3>When I finish all the projects, I will personally go to Porsche AG in <br> Stuttgart, Germany to bring them my CV and show them this website.</h3>
                <p>
                    Follow along on this journey. I will post updates on each of the projects on the <a href="{{ url_for('main.home') }}" target="_blank">Home</a> page.<br> You will be able to find the projects on the <a href="{{ url_for('projects.projects_page') }}" target="_blank">Projects</a> page. Godspeed.
                </p>
            </div>
        </p>
    </div>
{% endblock content %}
